{{ define "main" }}

  {{- $pages := union .RegularPages .Sections -}}
  {{- if .IsHome -}}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{- end -}}

  {{- if .IsHome -}}
    {{- $.Scratch.Set "paginator" (.Paginate $pages 1) -}}   {{/* ホームは1件 */}}
  {{- else -}}
    {{- $.Scratch.Set "paginator" (.Paginate $pages) -}}     {{/* それ以外は既定件数 */}}
  {{- end -}}
  {{- $paginator := $.Scratch.Get "paginator" -}}

  {{- if and .IsHome .Site.Params.homeInfoParams (eq $paginator.PageNumber 1) -}}
    {{- partial "home_info.html" . -}}
  {{- end -}}

  {{- range $paginator.Pages -}}
    {{- .Render "summary" -}}
  {{- end -}}

  {{- partial "pagination.html" . -}}

{{ end }}
